.blur-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 30, 27, 0.679); /* bele boje sa transparentnošću */
}

.header {
  margin: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.header > h1 {
  font-size: 3.5rem;
  font-weight: 400;
  color: aliceblue;
  letter-spacing: 1rem;
  border-top: 2px solid white;
  padding-top: 1.5rem;
  margin: 1rem;
  padding-bottom: 0.5rem;
  width: 45rem;
  text-align: center;
  z-index: 3;
}
.header > h2 {
  font-size: 1.7rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.5rem;
  border-bottom: 2px solid white;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  width: 45rem;
  text-align: center;
  margin: 1rem;
  z-index: 3;
}

@media screen and (max-width: 900px) {
  .header {
    margin: 1rem 0;
  }
  .header > h1,
  .header > h2 {
    width: 95vw;

    margin: 0.3rem;
  }

  .header > h1 {
    font-size: 1.6rem;
  }
  .header > h2 {
    font-size: 1.1rem;
  }
}
